@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Montserrat:wght@200&family=Open+Sans&display=swap');

.text {
  font-family: 'Catamaran', 'Poppins';
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 2rem, 2rem, 1rem, 2rem;
}
html {
  overflow-x: hidden;
  background-color: #0b111b;
}
.address {
  margin: 0.5rem;
}

.center {
  display: flex;
  flex-direction: column;
}

.root {
  flex: 1;
  display: flex;
}
.me {
  display: flex;

  flex-direction: column;
}
.connect-body {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
