@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.text {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #423b7d;
  text-align: center;
  margin: 0.5rem;
}
.address {
  margin: 0.5rem;
}
.center {
  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
}

.root {
  flex: 1;
  display: flex;
}
.me {
  display: flex;
  background-size: cover;
  flex-direction: column;
}
.connect-body {
  background-color: #423b7d;
  display: flex;
  flex-direction: column;
  width: 100%;
}
