@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Montserrat:wght@200&family=Open+Sans&display=swap');

img {
  width: 30vw;
  height: 50vh;
}
@media only screen and (max-width: 600px) {
  img {
    width: 90vw;
  }
}

.by {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 15%;
}
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 200;
  font-family: 'poppins', 'roboto';
  padding: 3%;
}
.donate-heading {
  font-family: 'Catamaran', 'Poppins';
  font-size: 2rem;
}
