@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.project-card {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  width: 30vw;
  font-family: 'poppins', 'roboto';
}

@media only screen and (max-width: 600px) {
  .project-card {
    width: 100vw;
  }
}
.project-container {
  display: flex;
}
.project-chip {
  color: 'white';
  background-color: plum;
}

h3 {
  padding: 1%;
  margin: 3%;
  font-family: 'poppins', 'roboto';
}
h4 {
  padding: 1%;
  margin: 3%;
  font-family: 'poppins', 'roboto';
}
.project-link {
  text-decoration: none;
}
.project-image {
  width: 30vw;
  height: 50vh;
}
