@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.no-metamask {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.projects-header {
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 30vh;
}
h3 {
  font-weight: 500;
  margin-right: 2%;
  font-family: 'poppins', 'roboto';
}
h1 {
  font-family: 'poppins', 'roboto';
  padding: 1%;
}

.projects-body {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.myprojects-top {
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .projects-header {
    height: 20vh;
  }
  .projects-body {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
  }
  .projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
