@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.project-card {
  margin: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'poppins', 'roboto';
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-chip {
  color: 'white';
  background-color: plum;
}

h3 {
  padding: 1%;
  margin: 3%;
  font-family: 'poppins', 'roboto';
}
h2 {
  padding: 1%;
  margin: 3%;
  font-weight: 400;
  font-family: 'poppins', 'roboto';
}
h4 {
  padding: 1%;
  margin: 3%;
  font-family: 'poppins', 'roboto';
}
.project-link {
  text-decoration: none;
}
.project-image {
  width: 30vw;
  height: 50vh;
}
@media screen and (max-width: 600px) {
  .project-card {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', 'roboto';
    height: 60vh;
  }
  .project-image {
    width: 100vw;
    height: 60vh;
  }
}
