@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App-top-bar {
  display: flex;
  background-color: #eef4f8;
  flex-direction: row;
  height: 7vh;
  align-items: center;
  justify-content: space-around;
}
.icon {
  flex: 1;
  align-items: center;
  display: flex;
}
.empty {
  flex: 5;
}
.App-top-bar-menu {
  cursor: pointer;
  flex: 4;

  display: flex;

  justify-content: space-around;
}
.menu {
  font-weight: 600;
  width: 8vw;
  font-size: small;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.menu-hover {
  text-align: center;
  color: white;

  background-color: #5aaca8;
  border-radius: 5px;
  width: 8vw;
  font-weight: 600;
  font-size: small;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 600px) {
  .App-top-bar-menu {
    cursor: pointer;
    flex: 4;
    background-color: antiquewhite;

    display: flex;

    justify-content: space-around;
  }
}
