@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Montserrat:wght@200&family=Open+Sans&display=swap');
.App-top-bar {
  display: flex;
  background-color: #231d50;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
}
.icon {
  max-width: 60px;
  height: 40px;
  padding-top: 10%;
  padding-left: 10%;
}
.empty {
  flex: 5;
}
.App-top-bar-menu {
  cursor: pointer;
  flex: 4;

  display: flex;

  justify-content: space-around;
}
.menu {
  font-weight: 600;
  width: 8vw;
  font-size: medium;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Catamaran', 'Poppins';
}

.menu-hover {
  text-align: center;
  color: #7263cf;

  /* background-color: #5aaca8; */
  border-radius: 5px;
  width: 8vw;
  font-weight: 600;
  font-size: medium;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Catamaran', 'Poppins';
}

.link {
  text-decoration: none;
  color: #231d50;
}
@media only screen and (max-width: 600px) {
  .App-top-bar-menu {
    cursor: pointer;
    flex: 4;
    background-color: antiquewhite;

    display: flex;

    justify-content: space-around;
  }
}
