.Charity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border-width: 0.5ch;
  border-style: solid;
  border-color: transparent;
  border-radius: 5ch;
  margin: 3%;
  height: 40vh;
  cursor: pointer;
  aspect-ratio: 1;
}

.Charity-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border-width: 0.5ch;
  border-style: solid;
  border-color: lightgreen;
  border-radius: 5ch;
  margin: 3%;
  height: 40vh;
  cursor: pointer;
  aspect-ratio: 1;
}
