.transaction-root {
  display: flex;
  margin: 1%;
  flex-direction: column;
  background-color: transparent;
}
.transaction-card {
  padding: 1%;
  display: flex;
  font-size: 10;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
