@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Montserrat:wght@200&family=Open+Sans&display=swap');
.App {
  background-size: cover;
}
html {
  overflow-x: hidden;
}
.App-header {
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  justify-content: space-between;
}
.App-home-header {
  background-color: #0b111b;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 5;
  justify-content: space-between;
  height: 70vh;
}
.div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

.lit-portal-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c183c;
}
.lit-portal-heading {
  font-family: 'Catamaran', 'Poppins';
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 600px) {
  .div-column {
    align-items: center;
    justify-content: center;
  }
}
.App-logo {
  align-items: center;
  justify-content: center;
  flex: 2;
}
html {
  scroll-behavior: smooth;
}
.App-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
}
.App-main-heading {
  font-weight: bold;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  font-family: 'Catamaran', 'Poppins';
  padding-left: 6%;
}

.App-main-heading-small {
  font-weight: 300;
  font-size: 1.5rem;
  padding-left: 6%;
  color: white;

  font-family: 'Poppins', sans-serif;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-headings {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Catamaran', 'Poppins';

  margin: 0.5rem;
}

.App-paragraphs {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  color: white;
  font-family: 'Poppins', sans-serif;

  padding: 3%;
}

.App-sections {
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg, #1c183c 35.52%, #3e309a 134.86%);
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: space-around;
}
.App-features-sections {
  background-color: black;
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: space-around;
}
