@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
  background-size: cover;
}
html {
  overflow-x: hidden;
}
.App-header {
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  justify-content: space-between;
}
.App-home-header {
  display: flex;
  flex-direction: row;
  flex: 5;
  justify-content: space-between;
  height: max-content;
}
.div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}
@media screen and (max-width: 600px) {
  .div-column {
    align-items: center;
    justify-content: center;
  }
}
.App-logo {
  align-items: center;
  justify-content: center;
  flex: 2;
}
html {
  scroll-behavior: smooth;
}
.App-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
}
.App-main-heading {
  font-weight: bold;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding-left: 3%;
}

.App-main-heading-small {
  font-weight: 300;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 3%;

  font-family: 'Poppins', sans-serif;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-headings {
  color: #423b7d;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem;
}

.App-paragraphs {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding: 3%;
}

.App-sections {
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: space-around;
}
